bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.DS_Store
.idea
Src/Modules/SystemReservation/BarberShop.Modules.SystemReservation.Api/Persistence/Migrations
Src/Modules/Users/BarberShop.Modules.Users.Api/Persistence/Migrations
Src/Modules/Warehouse/BarberShop.Modules.Warehouse.Api/Persistence/Migrations
/Src/Modules/Notifications/BarberShop.Modules.Notifications.Api/SMTP/LoginSenderData.cs
/.idea/
